#about-us {
  padding-top: 3em;
  background: linear-gradient(45deg, rgba(61,65,163,1) 0%,rgba(44,78,221,1) 100%);

  .wave-image {
    padding: 0 7% 5em;

    svg {
      height: 4em;
      margin-left: 35.333%;
    }
  }

}