#cases {
  position: relative;
  .gradient-oval {
    position: absolute;
    left: -5em;
    top: 5em;
    width: 10em;
    height: 35em;
    background: linear-gradient($blue-brand-color, $red-brand-color);
    border-radius: 10em/35em;
    @media screen and (max-width: 575px){
      left: -8em;
    }
  }

  .page-title-chip {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    background-color: $blue-brand-color;
    border-radius: 0.2em;
    color: #fff;
    padding: 0.3em 0.5em;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 0.1em;
  }

  .page-title {
    position: relative;
    font-size: 5.5em;
    font-weight: 500;
  }

  .case {
    position: relative;

    .case-li {
      font-size: 1.2em;
      margin-bottom: 2em;
      line-height: 1.4em;
      display: flex;
      position: relative;
      @media screen and (max-width: 575px){
        display: block;
        margin-top: 1.5em;
      }

      .li-title {
        font-size: 0.5em;
        font-weight: 500;
        text-transform: uppercase;
        color: $blue-brand-color;
        letter-spacing: 2px;
        min-width: 15em;
        max-width: 15em;
        text-align: right;
        padding-right: 2em;
        box-sizing: border-box;
        @media screen and (max-width: 575px){
          text-align: left;
        }
      }
    }
  }

  .case-blue-background {
    @include blue-background-gradient-2();
    color: #fff;

    .case {
      .case-li {
        .li-title {
          color: #fff;
        }
      }
    }
  }

  .arenadata-logo {
    position: relative;
    background-color: #29323b;
    padding: 2em 1em;
  }

  .company-description {
    position: relative;
    font-style: italic;
    font-weight: 300;
    color: $dark-gray-color;
    font-size: 0.85em;
    line-height: 1.3;
  }

  .absolute-image-bag {
    position: absolute;
    right: -19em;
    bottom: -4em;
    height: 18em;
    @media screen and (max-width: 575px){
      right: -24em;
    }
  }
}