#cloud-store {
  @include blue-background-gradient-1();
  position: relative;

  .section-header {
    @media screen and(min-width: 576px){
      .header-image {
        min-height: 25em;

        svg {
          height: 20em;
          position: absolute;
          top: 5em;
          right: 0;
        }
      }
    }
  }
}