#cloud-power {
  @include blue-background-gradient-1();
  position: relative;

  .wave-image {
    padding: 0 7% 5em;

    svg {
      height: 4em;
      margin-left: 35.333%;
    }
  }


  .section-header {
    position: relative;
    z-index: 4;

    .header-image {
      svg {
        height: calc(100% - 5em);
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    .header-text {
      margin-bottom: 0;
    }
  }


  .blocks-header {
    position: relative;
    z-index: 4;
    margin-top: 5em;
    padding: 0 2em;
  }

  .blocks-container {
    padding-top: 0;
  }

  .block {
    align-items: center;
    text-align: center;
    min-width: 19em;
  }

  .block-pic {
    min-height: 10em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;

    svg {
      height: 6.5em;
    }

    img {
      height: 10em;
    }

    #pic13 {
      height: 5em;
    }

    #pic15 {
      height: 9em;
    }
  }

  @media (max-width: 575px) {
    .wave-image {
      svg {
        height: 2em;
        margin-left: 20%;
      }
    }
  }

}