#header {

  .header-container {
    display: flex;
    justify-content: space-between;

    .main-menu-btn {
      width: 4.5em;
      height: 4.5em;
      position: absolute;
      z-index: 5;
      top: 1.5em;
      left: 3em;
      cursor: pointer;

      &:hover {
        .main-menu-btn-svg .st1 {
          transition: all 0.3s ease;
          stroke: $blue-brand-color;
        }
      }

      &.fixed {
        position: fixed;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 50%;
      }
    }

    .entry {
      position: absolute;
      top: 4em;
      right: 4em;
      padding-bottom: 0.3em;
      font-size: 0.9em;
      font-weight: 500;
      text-transform: uppercase;
      border-bottom: 1px solid $gray-color;
      cursor: pointer;
      text-decoration: none;
      color: #000;

      &:hover {
        border: none;
        color: #000;
      }
    }
  }

  .logo {
    padding: 2em;
    margin: auto;

    a {
      display: block;
    }
    svg {
      height: 100%;
      width: 12em;
    }
  }

  .main-menu-container {
    position: fixed;
    z-index: 10;
    top: 0;
    height: 0;
    width: 100%;
    background: radial-gradient(at bottom left, rgba(18, 23, 41, 0.9) 0%, rgba(44, 78, 221, 0.9) 61%, rgba(100, 44, 221, 0.9) 100%);
    overflow-y: auto;
    transition: height 0.4s ease;

    &.open {
      height: 100vh;
    }

    .logo-row {
      display: flex;
      justify-content: center;

      .close-btn {
        cursor: pointer;
        position: absolute;
        top: 2.5em;
        right: 3em;
        width: 3em;
        height: 3em;
      }
    }

    ul.main-menu {
      width: 100%;
      margin-top: 1em;

      font-size: 2.8em;
      font-weight: 500;

      li {
        text-align: center;

        a {
          display: inline-block;
          width: 100%;
          text-decoration: none;
          color: #fff;
          padding: 0.5em 0;

          &:hover {
            background: rgba(255, 255, 255, 0.15);
          }

          &.current {
            color: $active-main-menu-link-color;
          }
        }

        .sub-list-title {
          width: 100%;
          color: #fff;
          padding: 0.5em 0;
        }


        .sub-list {
          margin-bottom: 0.5em;
          a {
            font-size: 0.7em;
          }
        }
      }

    }
  }

  @media (max-width: 575px) {
    .logo {
      padding: 1em;

      svg {
        width: 9em;
      }
    }

    .header-container {

      .main-menu-btn {
        width: 3.5em;
        height: 3.5em;
        top: 0.5em;
        left: 0.5em;
      }

      .entry {
        top: 2em;
        right: 1em;
      }

    }

    .main-menu-container {
      .logo-row {
        .close-btn {
          width: 2em;
          height: 2em;

          top: 1em;
          right: 1em;
        }
      }

      ul.main-menu {
        font-size: 1.5em;
      }
    }
  }
}