#slider {
  position: relative;

  .main-slide-bg {
    position: relative;
    height: 100%;
    background: url("../images/svg/static_slide/slider-01.svg") no-repeat;
    background-size: cover;
    color: white;

    #main-slide_img-1 {
      position: absolute;
      top: 10%;
      left: 5%;
      width: 7%;
    }

    #main-slide_img-2 {
      position: absolute;
      bottom: 20%;
      left: 7%;
      width: 10%;
    }

    #main-slide_img-3 {
      position: absolute;
      bottom: 20%;
      left: 19%;
      width: 12%;
      @media screen and (max-width: 575px){
          display: none;
      }
    }

    #main-slide_img-4 {
      position: absolute;
      bottom: 20%;
      left: 33%;
      width: 10%;
    }

    #main-slide_img-5 {
      position: absolute;
      bottom: 19%;
      left: 37%;
      width: 10%;
      opacity: 0.6;
    }

    .slide-content {
      position: relative;
      z-index: 5;

      .slide-title {
        margin-top: .8em;
        font-size: 4em;
        font-weight: 500;
      }

      .slide-description {
        margin-top: 0.7em;
        font-size: 1.2em;
        line-height: 1.3em;
      }

      .slide-btn {
        font-size: 1.8em;
        margin: 3em 0 2.5em;
      }

      @media (max-width: 1440px) {
          font-size: 0.88em;
      }

      @media (max-width: 1200px) {
        font-size: 0.8em;
      }

      @media (max-width: 992px) {
          font-size: 0.7em;
      }

      @media (max-width: 768px) {
          font-size: 0.6em;
      }
    }
  }
}