#mission {
  padding: 3em 0 5em;
  .case {
    .case-li {
      @media screen and (max-width: 575px){
          padding-left: 0;
          left: 0;
      }
    }
  }
  .width-33 {
    height: 15em;
  }
  .img {
    height: 15em;
    position: absolute;
    top: 0;
    width: 100%;
    svg {
      height: 100%;
    }

    .yellow-circle {
      width: 2em;
      height: 2em;
      border-radius: 50%;
      background-color: #FCEF00;
      position: absolute;
      top: -1em;
      right: 1em;
    }
  }
}