#our-cases {
  padding-bottom: 7em;
  position: relative;

  .section-header {
    .header-image {
      img {
        left: -10em;
        height: 20em;
        bottom: -70px;
      }
    }

    .header-text {
      margin-bottom: 1.5em;
    }
  }

  .gradient-oval {
    position: absolute;
    left: -6em;
    top: 2em;
    width: 12em;
    height: 35em;
    background: linear-gradient($blue-brand-color, $red-brand-color);
    border-radius: 12em/35em;
  }

  .go-to-case {
    cursor: pointer;

  }

  @media (max-width: 575px) {
    .case {
      font-size: 0.85em;
    }

    padding-bottom: 3em;

  }

}


@media (max-width: 1400px) {
  #our-cases {
    .section-header .header-image img {
      left: -8em;
    }
  }
}

@media (max-width: 1200px) {
  #our-cases {
    .section-header .header-image img {
      left: -12em;
    }
  }
}

@media (max-width: 992px) {
  #our-cases {
    .section-header .header-image img {
      left: -16em;
    }
  }
}

@media (max-width: 768px) {
  #our-cases {
    .section-header .header-image img {
      left: -20em;
    }
  }
}

@media (max-width: 575px) {
  #our-cases {
    .section-header .header-image img {
      left: -22em;
    }
  }
}