#rules {
  background: linear-gradient(45deg, rgba(61,65,163,1) 0%,rgba(44,78,221,1) 100%);
  padding-bottom: 3em;

  .section-header .header-image svg {
    margin-top: 2em;
    height: 18em;


    &#tennis-ball {
      position: absolute;
      width: 2.5em;
      height: 2.5em;
      right: 13em;
      z-index: 3;
      @media screen and (max-width: 575px){
        right: auto;
        left: 10em;
      }
    }
  }


  .wave-image {
    margin-top: 3em;

    svg {
      height: 4em;
    }
  }

  @media (max-width: 575px) {
    padding-bottom: 2em;

    .wave-image {
      svg {
        height: 2em;
      }
    }
  }
}