#slider {
  position: relative;
  height: 20em;
  z-index: 2;

  .slider-container {
    width: 500%;
    display: flex;
    position: relative;
    transition: left 1s ease;

    &[data-active-slide="1"] {
      left: 0;
    }

    &[data-active-slide="2"] {
      left: -100%;
    }

    &[data-active-slide="3"] {
      left: -200%;
    }

    &[data-active-slide="4"] {
      left: -300%;
    }

    &[data-active-slide="5"] {
      left: -400%;
    }

    .slide-item {
      position: relative;
      width: 20%;
      color: #fff;
      height: 20em;

      .boodet__container {
        position: relative;
        height: 100%
      }

      .slide-title {
        font-size: 3.5em;
      }

      .slide-description {
        margin-top: 1em;
        font-size: 1.3em;
      }

      .slide-btn {
        font-size: 1.5em;
        margin-top: 2em;
      }
    }

    .slider-content__container {
      padding: 0 7%;
      max-width: 35em;
    }
  }
}