#slide_scroll {
  background: linear-gradient(to right, #dadada 0%, #9c8b70 38%, #736652 100%);

  @include keyframes(scale) {
    50% {
      transform: scale(1.1);
    }  
  }

  @include keyframes(right) {
    50% {
      margin-left: -5%;
    }
  }

  .ep3_clock {
    @include animation(right 40s infinite ease-in-out);
  }
      
  .wrap_working_girl {
    @include rel_position(14%, auto, auto, 6%);
    height: 80%;
    @include animation(scale 40s infinite linear);
  }
          
  .wrap_working_place {
    @extend %relative;
    display: inline-block;
    height: 100%;
  }
      
  .work_monitor {
    height: 100%;
  }

  .work_table {
    @extend .work_monitor;
    @include abs_position(auto, auto, 0, auto);
  }  
      
  .wrap_scroll_tape {
    @include abs_position(7.4%, auto, auto, 52.5%);
    width: 35%;
    height: 29%;
  }
      
  .scroll_tape {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
      
  .floor {
    @include abs_position(auto, auto, 0, auto);
    width: 100%;
    height: 15%;
    background: linear-gradient(to right, #c9c6c2, #ede7df, #f8f1e9);
  }  
      
  .girl {
    @include abs_position(1%, auto, auto, 0);
    @extend %opacity_tr;
    height: 100%;
  }

  @include hide;
}