#slide_safe {
  .ep3_wall {
    height: 100%;
  }

  .ep3_furniture {
    @extend .ep3_wall;
    @include abs_position(0, auto, auto, 0);
  } 

  .ep3_man2_img {
    @extend %opacity_tr;
    @include abs_position(0, auto, 0, auto);
    margin: auto 0; 
    height:100%;
  }

  .ep3_man1_img {
    @extend .ep3_man2_img;
    z-index: 2;
  }

  @include hide;
}