#slide_kipr {
  @include keyframes(board_rotate) {
    50% {
      transform:rotate(-2deg);
    }  
  }
    
  @include keyframes(bounce) {
    50% {
      top: -90%;
    }
  }

  @include keyframes(tramplin_top) {
    89% {
      bottom: 89%;
      height: 11%;
    }
    100% {
      bottom: 100%;
      height: 0;
    }  
  }

  @include keyframes(rotate) {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @include keyframes(fly) {
    25% {
      transform: rotate(4deg);
    }
    75% {
      transform: rotate(-4deg); 
    }
  }

  @include keyframes(move) {
    12%,
    87% {
      left: 13%;
      top: -43%;
      opacity: 1;
      width: 80%;
    }
    100% {
      left: -30%;
      top: -100%;
      opacity: 0;
      width: 100%;
    }  
  }
 
  @include keyframes(cloud) {
    to {
      left: -30%;
    }
    from {
      left: 110%;
    }
  }

  @include keyframes(cloud_start) {
    to {
      left: -30%;
    }  
  }

  @include keyframes(tramplin_left) {
    from,
    5.7%{
      width: 52%;
    }  
  }

  @include keyframes(view_city) {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    } 
  }

  @include keyframes(city_top) {
    from {
      bottom: -42%;
    }
    10% {
      bottom: -50%;   
    } 
  }

  @include keyframes(city_left) {
    to {
      left: -20%;
    }  
  }

  .height_100 {
    height: 100%;
  }

  .wrap_girl {
    @extend %relative;
  }

  .wrap_blur {
    @extend %relative;
    width: 100%;
    overflow: hidden;
  }

  .sky {
    @extend %absolute;
    @include position(0, auto, auto, 0);
    width: 100%;
    background: linear-gradient(to bottom, #1b67cc 0%, #172975 100%);
    height: 67%;
  }
  
  .water {
    @extend %absolute;
    @include position(auto, auto, 0, 0);
    width: 100%;
    height: 33.33%;    
    background: linear-gradient(to bottom, #2666bd 0%, #172975 100%);
  }

  .city {
    @extend %absolute;
    @include position(auto, auto, -42%, 0);
    width: 100%;
    height: 100%;
    transition: bottom 1s linear;
  }

  .city_top {
    bottom: -35%;
    @include animation(city_top 9s ease);
  }

  .city_remove {
    bottom: -100%;
  }

  .city_before_water {
    @iclude position(auto, 0, -15%, auto);
    transition: bottom 0s;   
    margin: 0 auto;
    opacity: 1;
    width: 30%;
    @include animation(view_city 1s linear, city_left 10s infinite linear 1s);
  }

  .moon {
    @extend %absolute;
    @include position(5%, auto, auto, 35%);
    width: 9%;
  }

  .cloud_1 {
    @extend %absolute;
    @include position(9%, auto, auto, 10%);
    opacity:0.5;
    width: 20%;
    @inlcude animation(cloud 30s infinite linear 3s, cloud_start 3s 1 linear);  
  }

  .cloud_2 {
    @extend %absolute;
    @include position(12%, auto, auto, 60%);
    opacity:0.5;
    width: 10%;
    @include animation(cloud 16s infinite linear 9.6s, cloud_start 9.6s 1 linear);
  }
          
  .cloud_3 {
    @extend %absolute;
    @include position(15%, auto, auto, 75%);
    opacity:0.5;
    width: 16%;
    @include animation(cloud 20s infinite linear 15s, cloud_start 15s 1 linear);
  }

  .tramplin {
    @extend %absolute;
    @include position(auto, auto, 0, 0);
    top: unset;
    width: 52%;
    height: 11%;
    background: linear-gradient(to right, #172975, #2666bd);
  }
          
  .tramplin_animation {
    width: 30%;
    @include animation(tramplin_left 5.3s linear);
  }

  .tramplin_top {
    @include animation(tramplin_top 2.76s linear .75s);
  }

  .tramplin_top_fixed {
    bottom: 100%;
    height: 0;
  }
          
  .girl {
    @extend %absolute;
    @include position(auto, auto, 10%, 15.5%);
    width: 20%;
    height: 80%;
  }

  .girl_img {
    @extend %absolute;
    @extend %opacity_tr;
    @include position(0, 0, 0, 0);
    margin: auto auto;
    height: 100%;
    width: 100%;
  }

  .parashute {
    @extend %absolute;
    @include position(30%, 0, auto, 10%);
    width: 0;
    opacity: 0;
    margin: 0 auto;
  }

  .board {
    @extend %absolute;
    @include position(auto, 0, 2%, 7%);
    opacity: 0;
    width: 0;
    margin: 0 auto;
  }
    
  .board_rotate {
    @include animation(board_rotate 1s 11 linear .5s);
  }

  .bounce {
    @include animation(bounce 1.5s ease-in-out);
  }
          
  .rotate {
    @include animation(rotate 2s ease-in-out);
  }

  .fly {
    @include animation(fly 3s 2 linear 1s);
  }

  .move {
    transform-origin: right bottom;
    @include animation(move 7.24s ease, fly 3s 2 linear 1s);
  }

  .board_visible {
    width: 100%;
    opacity: 1;
    transition: width, opacity .25s ease;
  }

  .transition_none {
    transition: none;
  }
}