@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($content...) {
  -webkit-animation: #{$content};
  -moz-animation: #{$content};
  animation: #{$content};
}

@mixin position_v($top, $bottom) {
  @if $top != auto {top: #{$top};}
  @if $bottom != auto {bottom: #{$bottom};}
}

@mixin position_h($left, $right) {
  @if $left != auto {left: #{$left};}
  @if $right != auto {right: #{$right};}
}

@mixin position($top, $right, $bottom, $left) {
  @include position_v($top, $bottom);
  @include position_h($left, $right);
}

@mixin hide() {
  .hide {
    opacity: 0;
    transition-duration: .25s;
  }
}

#slider {
  %absolute {
    position: absolute;
  }

  %relative {
    position: relative;
  }

  %opacity_tr {
    transition: .15s opacity cubic-bezier(1,0,0,1);
    opacity: 1;
  }

  @include keyframes(rotate) {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);    
    }  
  }

  @import 'slide-kipr';
  @import 'slide-safe';
  @import 'slide-scroll';

  .ep_clock_item {
    @extend %absolute;
    top: 0;
  }
   
  #ep_clock_2 {
    @include animation(rotate 2s infinite linear);
  }
    
  #ep_clock_3 {
    @include animation(rotate 30s infinite linear);
  }

  .ep3_clock {
    @extend %absolute;
    @include position(10%, auto, auto, 43%);
    width: 5%;
  }
      
  .wrap_img_ep3_clock {
    @extend %relative;
    height: 100%;
  }

  .height_100 {
    height: 100%;
  }

  .slider_content {
    @extend %absolute;
    width: 50%;
    @include position(0, 0, auto, auto);
    display: flex;
    align-items: center;
  }
  
  @media (max-width: 575px) {
    .slider_content {
      width: 100%;
    }
  }
}