#slider {
  %absolute {
    position: absolute;
  }

  %relative {
    position: relative;
  }

  %opacity_tr {
    transition: .15s opacity cubic-bezier(1,0,0,1);
    opacity: 1;
  }

  @mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
      @content;
    }
    @-moz-keyframes #{$name} {
      @content;
    }
    @keyframes #{$name} {
      @content;
    }
  }

  @mixin animation($content...) {
    -webkit-animation: #{$content};
    -moz-animation: #{$content};
    animation: #{$content};
  }

  @mixin position($top, $right, $bottom, $left) {
    @if $top != auto {top: #{$top};}
    @if $bottom != auto {bottom: #{$bottom};}
    @if $left != auto {left: #{$left};}
    @if $right != auto {right: #{$right};}
  }

  @mixin abs_position($top, $right, $bottom, $left) {
    @extend %absolute;
    @include position($top, $right, $bottom, $left);
  }

  @mixin rel_position($top, $right, $bottom, $left) {
    @extend %relative;
    @include position($top, $right, $bottom, $left);
  }

  @mixin hide() {
    .hide {
      opacity: 0;
      transition-duration: .25s;
    }
  }

  @include keyframes(rotate) {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);    
    }  
  }

  @import 'slide-kipr';
  @import 'slide-safe';
  @import 'slide-scroll';

  .ep_clock_item {
    @extend %absolute;
    top: 0;
  }
   
  #ep_clock_2 {
    @include animation(rotate 2s infinite linear);
  }
    
  #ep_clock_3 {
    @include animation(rotate 30s infinite linear);
  }

  .ep3_clock {
    @include abs_position(10%, auto, auto, 43%);
    width: 5%;
  }
      
  .wrap_img_ep3_clock {
    @extend %relative;
    height: 100%;
  }

  .height_100 {
    height: 100%;
  }

  .slider_content {
    width: 50%;
    @include abs_position(0, 0, auto, auto);
    display: flex;
    align-items: center;
  }
  
  @media (max-width: 575px) {
    .slider_content {
      width: 100%;
    }
  }
}