#main-logo {
  .st0{fill:url(#SVGID_1_);}
  .st1{fill:#FFFFFF;}
  .st2{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
  .st3{fill:#2C4EDD;}
  .st4{fill:none;stroke:#FFFFFF;stroke-width:5.4088;stroke-linecap:round;stroke-miterlimit:10;}
  .st5{fill:#FF3200;}
}

#main-logo-white {
  .st0{fill:url(#SVGID_1_);}
  .st1{fill:#FFFFFF;}
  .st2{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
  .st3{fill:#2C4EDD;}
  .st4{fill:none;stroke:#FFFFFF;stroke-width:5.4088;stroke-linecap:round;stroke-miterlimit:10;}
  .st5{fill:#FF3200;}
  .st6{clip-path:url(#SVGID_3_);fill:url(#SVGID_4_);}
  .st7{fill:url(#SVGID_5_);}
  .st8{fill:#E3F0FF;}
  .st9{fill:url(#SVGID_6_);}
  .st10{fill:url(#SVGID_7_);}
  .st11{fill:url(#SVGID_8_);}
  .st12{fill:#12172F;}
  .st13{fill:#2A102C;}
  .st14{fill:url(#SVGID_9_);}
  .st15{fill:url(#SVGID_10_);}
  .st16{fill:url(#SVGID_11_);}
  .st17{opacity:0.67;fill:url(#SVGID_12_);}
  .st18{opacity:0.67;fill:url(#SVGID_13_);}
  .st19{fill:url(#SVGID_14_);}
  .st20{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}
  .st21{opacity:0.25;fill:none;stroke:#CFDAE5;stroke-width:20;stroke-miterlimit:10;}
  .st22{fill:none;stroke:#EF2932;stroke-width:16.9397;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st23{fill:none;stroke:#0102F7;stroke-width:16.9397;stroke-linecap:round;stroke-miterlimit:10;}
  .st24{fill:#FFFFFF;stroke:#0102F7;stroke-width:16.9397;stroke-linecap:round;stroke-miterlimit:10;}
  .st25{fill:none;stroke:url(#SVGID_15_);stroke-width:16.9397;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st26{opacity:0.56;fill:#CFDAE5;}
  .st27{clip-path:url(#SVGID_17_);fill:#2C4EDD;}
  .st28{fill:#F2F2F2;stroke:#000000;stroke-miterlimit:10;}
  .st29{fill:none;stroke:#000000;stroke-miterlimit:10;}
  .st30{clip-path:url(#SVGID_19_);fill:#2C4EDD;}
  .st31{clip-path:url(#SVGID_21_);}
  .st32{fill:none;stroke:#000000;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st33{fill:none;stroke:#000000;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}
  .st34{fill:#FFFFFF;stroke:#000000;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}
  .st35{fill:url(#SVGID_22_);}
  .st36{fill:url(#SVGID_23_);}
  .st37{fill:url(#SVGID_24_);}
  .st38{clip-path:url(#SVGID_26_);fill:#2C4EDD;}
  .st39{clip-path:url(#SVGID_28_);fill:#2C4EDD;}
  .st40{fill:none;stroke:#2C4EDD;stroke-width:2.3917;stroke-linecap:round;stroke-miterlimit:10;}
  .st41{fill:#FCEF00;}
  .st42{fill:none;stroke:#FF3201;stroke-width:4.7835;stroke-linecap:round;stroke-miterlimit:10;}
  .st43{fill:#F4D47A;}
  .st44{clip-path:url(#SVGID_30_);}
  .st45{fill:none;stroke:#FFFFFF;stroke-width:6.454;stroke-linecap:square;stroke-miterlimit:10;}
  .st46{clip-path:url(#SVGID_32_);}
  .st47{fill:#7C6635;}
  .st48{fill:none;stroke:#FF3200;stroke-width:5.4088;stroke-linecap:round;stroke-miterlimit:10;}
  .st49{fill:none;stroke:#FF3200;stroke-width:4.7835;stroke-linecap:round;stroke-miterlimit:10;}
  .st50{clip-path:url(#SVGID_34_);}
  .st51{fill:none;stroke:#2C4EDD;stroke-width:6.454;stroke-linecap:square;stroke-miterlimit:10;}
  .st52{clip-path:url(#SVGID_36_);}
  .st53{fill:url(#SVGID_37_);}
  .st54{fill:url(#SVGID_38_);}
  .st55{clip-path:url(#SVGID_40_);fill:#2C4EDD;}
  .st56{clip-path:url(#SVGID_42_);fill:#2C4EDD;}
  .st57{fill:url(#SVGID_43_);}
  .st58{clip-path:url(#SVGID_45_);fill:#2C4EDD;}
  .st59{clip-path:url(#SVGID_47_);fill:#2C4EDD;}
  .st60{clip-path:url(#SVGID_49_);}
  .st61{clip-path:url(#SVGID_51_);}
  .st62{opacity:0.8;fill:url(#SVGID_52_);}
  .st63{clip-path:url(#SVGID_54_);}
  .st64{opacity:0.5;fill:#F4D47A;}
  .st65{opacity:0.8;fill:url(#SVGID_55_);}
  .st66{clip-path:url(#SVGID_54_);fill:#F4D47A;}
  .st67{clip-path:url(#SVGID_54_);fill:#7AC943;}
  .st68{fill:url(#SVGID_56_);}
  .st69{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st70{fill:none;stroke:#FFFFFF;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st71{fill:#FF1D25;}
  .st72{fill:none;stroke:url(#SVGID_57_);stroke-miterlimit:10;}
  .st73{fill:none;stroke:url(#SVGID_58_);stroke-miterlimit:10;}
  .st74{fill:none;stroke:url(#SVGID_59_);stroke-miterlimit:10;}
  .st75{fill:none;stroke:url(#SVGID_60_);stroke-width:3.5847;stroke-miterlimit:10;}
  .st76{fill:none;stroke:url(#SVGID_61_);stroke-width:3.8006;stroke-miterlimit:10;}
  .st77{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:3.5847;stroke-miterlimit:10;}
  .st78{fill:#FFFFFF;stroke:url(#SVGID_62_);stroke-width:3.5847;stroke-miterlimit:10;}
  .st79{fill:url(#SVGID_63_);}
  .st80{fill:url(#SVGID_64_);}
  .st81{fill:url(#SVGID_65_);}
  .st82{fill:url(#SVGID_66_);}
  .st83{fill:none;stroke:url(#SVGID_67_);stroke-width:3.5847;stroke-miterlimit:10;}
  .st84{clip-path:url(#SVGID_69_);}
  .st85{fill:none;stroke:url(#SVGID_70_);stroke-miterlimit:10;}
  .st86{fill:none;stroke:#BABABA;stroke-width:0.8914;stroke-miterlimit:10;}
  .st87{fill:none;stroke:#2C4EDD;stroke-width:0.8914;stroke-miterlimit:10;}
  .st88{opacity:0.3;fill:none;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
  .st89{opacity:0.3;fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
  .st90{fill:none;stroke:#000000;stroke-width:3.3535;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st91{fill:#FFFFFF;stroke:#000000;stroke-width:1.4476;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st92{fill:none;stroke:#000000;stroke-width:1.4476;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st93{fill:none;stroke:#000000;stroke-width:3.3348;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st94{fill:#FFFFFF;stroke:#000000;stroke-width:3.3535;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st95{stroke:#000000;stroke-width:3.3535;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st96{fill:none;stroke:#FFFFFF;stroke-width:9.6752;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st97{fill:none;stroke:#000000;stroke-width:3.1994;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st98{fill:none;stroke:#000000;stroke-width:1.9792;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st99{fill:#FFFFFF;stroke:#000000;stroke-width:1.9792;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st100{stroke:#000000;stroke-width:1.9792;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st101{fill:none;stroke:#FFFFFF;stroke-width:5.7102;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st102{fill:none;stroke:#000000;stroke-width:1.8883;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st103{fill:none;stroke:#FFFFFF;stroke-width:1.9792;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st104{fill:none;stroke:#000000;stroke-width:4.2412;stroke-miterlimit:10;}
  .st105{fill:none;stroke:url(#SVGID_71_);stroke-width:3.5847;stroke-miterlimit:10;}
  .st106{fill:none;}
  .st107{fill:#FF0000;}
  .st108{fill:#282828;}
  .st109{fill:url(#SVGID_72_);}
  .st110{fill:#C8DAEA;}
  .st111{fill:#A9C9DD;}
  .st112{fill:url(#SVGID_73_);}
  .st113{fill:#3C5A99;}
  .st114{fill:#D6D6D6;}
  .st115{fill:#C2C2C2;}
  .st116{fill:none;stroke:#FFFFFF;stroke-width:2.3987;stroke-linecap:round;stroke-linejoin:round;}
  .st117{fill:#FF3201;}
  .st118{fill:none;stroke:#F4D47A;stroke-width:7;stroke-miterlimit:10;}
  .st119{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
  .st120{opacity:0.9;fill:url(#SVGID_74_);}
  .st121{opacity:0.15;fill:#FFFFFF;}
  .st122{fill:#FFE39C;}
  .st123{opacity:0.79;}
  .st124{fill:#FFFF00;}
}

#menu-close-btn {
  .st0{fill:#FFFFFF;}
  .st1{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
  .st2{fill:none;stroke:#2C4EDD;stroke-width:2.3917;stroke-linecap:round;stroke-miterlimit:10;}
  .st3{fill:#FF3200;}
  .st4{fill:#FCEF00;}
  .st5{fill:none;stroke:#FF3200;stroke-width:4.7835;stroke-linecap:round;stroke-miterlimit:10;}
  .st6{fill:#F4D47A;}
  .st7{clip-path:url(#SVGID_2_);}
  .st8{fill:none;stroke:#2C4EDD;stroke-width:6.454;stroke-linecap:square;stroke-miterlimit:10;}
  .st9{clip-path:url(#SVGID_4_);}
  .st10{fill:#7C6635;}
  .st11{fill:url(#SVGID_5_);}
  .st12{fill:url(#SVGID_6_);}
  .st13{fill:url(#SVGID_7_);}
  .st14{fill:url(#SVGID_8_);}
  .st15{fill:url(#SVGID_9_);}
  .st16{clip-path:url(#SVGID_11_);}
  .st17{fill:none;stroke:#FF3200;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
  .st18{clip-path:url(#SVGID_13_);}
  .st19{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
  .st20{fill:url(#SVGID_14_);}
  .st21{fill:none;stroke:#FFFFFF;stroke-width:5.4088;stroke-linecap:round;stroke-miterlimit:10;}
  .st22{fill:#FF1D25;}
  .st23{fill:#2C4EDD;}
  .st24{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
  .st25{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:2.0057,2.0057;}
  .st26{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
  .st27{fill:none;stroke:#FFE39C;stroke-width:1.4992;stroke-linecap:round;stroke-miterlimit:10;}
  .st28{fill:none;stroke:#FFFFFF;stroke-width:1.4992;stroke-miterlimit:10;}
  .st29{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1.9453,1.9453;}
  .st30{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1.975,1.975;}
  .st31{opacity:0.5;fill:#F4D47A;}
  .st32{opacity:0.8;fill:url(#SVGID_15_);}
  .st33{fill:#FF3201;}
  .st34{fill:#7AC943;}
}

#pic1 {
  .st0{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#FFFFFF;stroke-width:2.809;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#FFFFFF;}
  .st3{fill:none;stroke:#FFFFFF;stroke-width:2.8537;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:none;stroke:#FFFFFF;stroke-width:2.8923;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

#pic2 {
  .st0{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#FFFFFF;stroke-width:2.809;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#FFFFFF;}
  .st3{fill:none;stroke:#FFFFFF;stroke-width:2.8537;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:none;stroke:#FFFFFF;stroke-width:2.8923;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

#pic3 {
  .st0{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#FFFFFF;stroke-width:2.809;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#FFFFFF;}
  .st3{fill:none;stroke:#FFFFFF;stroke-width:2.8537;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:none;stroke:#FFFFFF;stroke-width:2.8923;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}


#transparent-wave {
  .st0{clip-path:url(#SVGID_2_);fill:url(#SVGID_3_);}
  .st1{fill:url(#SVGID_4_);}
  .st2{fill:url(#SVGID_5_);}
  .st3{fill:#E3F0FF;}
  .st4{fill:url(#SVGID_6_);}
  .st5{fill:url(#SVGID_7_);}
  .st6{fill:#12172F;}
  .st7{fill:#2A102C;}
  .st8{fill:#FF3200;}
  .st9{fill:#2C4EDD;}
  .st10{fill:url(#SVGID_8_);}
  .st11{fill:url(#SVGID_9_);}
  .st12{fill:url(#SVGID_10_);}
  .st13{fill:#FFFFFF;}
  .st14{opacity:0.67;fill:url(#SVGID_11_);}
  .st15{opacity:0.67;fill:url(#SVGID_12_);}
  .st16{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
  .st17{fill:url(#SVGID_13_);}
  .st18{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}
  .st19{opacity:0.25;fill:none;stroke:#CFDAE5;stroke-width:20;stroke-miterlimit:10;}
  .st20{fill:none;stroke:#EF2932;stroke-width:16.9397;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st21{fill:none;stroke:#0102F7;stroke-width:16.9397;stroke-linecap:round;stroke-miterlimit:10;}
  .st22{fill:#FFFFFF;stroke:#0102F7;stroke-width:16.9397;stroke-linecap:round;stroke-miterlimit:10;}
  .st23{fill:none;stroke:url(#SVGID_14_);stroke-width:16.9397;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st24{opacity:0.56;fill:#CFDAE5;}
  .st25{clip-path:url(#SVGID_16_);fill:#2C4EDD;}
  .st26{fill:#F2F2F2;stroke:#000000;stroke-miterlimit:10;}
  .st27{fill:none;stroke:#000000;stroke-miterlimit:10;}
  .st28{clip-path:url(#SVGID_18_);fill:#2C4EDD;}
  .st29{clip-path:url(#SVGID_20_);}
  .st30{fill:url(#SVGID_21_);}
  .st31{fill:url(#SVGID_22_);}
  .st32{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st33{fill:none;stroke:#FFFFFF;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st34{fill:none;stroke:url(#SVGID_23_);stroke-miterlimit:10;}
  .st35{fill:none;stroke:url(#SVGID_24_);stroke-miterlimit:10;}
  .st36{fill:none;stroke:url(#SVGID_25_);stroke-miterlimit:10;}
  .st37{fill:none;stroke:url(#SVGID_26_);stroke-width:3.5847;stroke-miterlimit:10;}
  .st38{clip-path:url(#SVGID_28_);}
  .st39{fill:none;stroke:url(#SVGID_29_);stroke-miterlimit:10;}
  .st40{fill:none;stroke:#BABABA;stroke-width:0.8914;stroke-miterlimit:10;}
  .st41{fill:none;stroke:#2C4EDD;stroke-width:0.8914;stroke-miterlimit:10;}
  .st42{opacity:0.3;fill:none;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
}

#pic4 {
  .st0{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#FFFFFF;stroke-width:2.809;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#FFFFFF;}
  .st3{fill:none;stroke:#FFFFFF;stroke-width:2.8537;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:none;stroke:#FFFFFF;stroke-width:2.8923;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

#pic5 {
  .st0{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#FFFFFF;stroke-width:2.809;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#FFFFFF;}
  .st3{fill:none;stroke:#FFFFFF;stroke-width:2.8537;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:none;stroke:#FFFFFF;stroke-width:2.8923;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

#pic6 {
  .st0{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#FFFFFF;stroke-width:2.809;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#FFFFFF;}
  .st3{fill:none;stroke:#FFFFFF;stroke-width:2.8537;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:none;stroke:#FFFFFF;stroke-width:2.8923;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

#pic7 {
  .st0{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#FFFFFF;stroke-width:2.809;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#FFFFFF;}
  .st3{fill:none;stroke:#FFFFFF;stroke-width:2.8537;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:none;stroke:#FFFFFF;stroke-width:2.8923;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

#pic8 {
  .st0{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#FFFFFF;stroke-width:2.809;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#FFFFFF;}
  .st3{fill:none;stroke:#FFFFFF;stroke-width:2.8537;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:none;stroke:#FFFFFF;stroke-width:2.8923;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

#pic9 {
  .st0{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#FFFFFF;stroke-width:2.809;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#FFFFFF;}
  .st3{fill:none;stroke:#FFFFFF;stroke-width:2.8537;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:none;stroke:#FFFFFF;stroke-width:2.8923;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

.main-menu-btn-svg {
  .st1{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
}