#main-logo {
  .st0{fill:url(#SVGID_1_);}
  .st1{fill:#FFFFFF;}
  .st2{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
  .st3{fill:#2C4EDD;}
  .st4{fill:none;stroke:#FFFFFF;stroke-width:5.4088;stroke-linecap:round;stroke-miterlimit:10;}
  .st5{fill:#FF3200;}
}

#main-logo-white {
  .st1{fill:#FFFFFF;}
}

#menu-close-btn {
  .st19{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
}

#pic1 {
  .st0{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#FFFFFF;stroke-width:2.809;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#FFFFFF;}
  .st3{fill:none;stroke:#FFFFFF;stroke-width:2.8537;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:none;stroke:#FFFFFF;stroke-width:2.8923;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

#pic2 {
  .st0{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#FFFFFF;stroke-width:2.809;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#FFFFFF;}
  .st3{fill:none;stroke:#FFFFFF;stroke-width:2.8537;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:none;stroke:#FFFFFF;stroke-width:2.8923;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

#pic3 {
  .st0{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#FFFFFF;stroke-width:2.809;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#FFFFFF;}
  .st3{fill:none;stroke:#FFFFFF;stroke-width:2.8537;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:none;stroke:#FFFFFF;stroke-width:2.8923;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}


#transparent-wave {
  .st0{clip-path:url(#SVGID_2_);fill:url(#SVGID_3_);}
  .st1{fill:url(#SVGID_4_);}
  .st2{fill:url(#SVGID_5_);}
  .st3{fill:#E3F0FF;}
  .st4{fill:url(#SVGID_6_);}
  .st5{fill:url(#SVGID_7_);}
  .st6{fill:#12172F;}
  .st7{fill:#2A102C;}
  .st8{fill:#FF3200;}
  .st9{fill:#2C4EDD;}
  .st10{fill:url(#SVGID_8_);}
  .st11{fill:url(#SVGID_9_);}
  .st12{fill:url(#SVGID_10_);}
  .st13{fill:#FFFFFF;}
  .st14{opacity:0.67;fill:url(#SVGID_11_);}
  .st15{opacity:0.67;fill:url(#SVGID_12_);}
  .st16{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
  .st17{fill:url(#SVGID_13_);}
  .st18{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}
  .st19{opacity:0.25;fill:none;stroke:#CFDAE5;stroke-width:20;stroke-miterlimit:10;}
  .st20{fill:none;stroke:#EF2932;stroke-width:16.9397;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st21{fill:none;stroke:#0102F7;stroke-width:16.9397;stroke-linecap:round;stroke-miterlimit:10;}
  .st22{fill:#FFFFFF;stroke:#0102F7;stroke-width:16.9397;stroke-linecap:round;stroke-miterlimit:10;}
  .st23{fill:none;stroke:url(#SVGID_14_);stroke-width:16.9397;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st24{opacity:0.56;fill:#CFDAE5;}
  .st25{clip-path:url(#SVGID_16_);fill:#2C4EDD;}
  .st26{fill:#F2F2F2;stroke:#000000;stroke-miterlimit:10;}
  .st27{fill:none;stroke:#000000;stroke-miterlimit:10;}
  .st28{clip-path:url(#SVGID_18_);fill:#2C4EDD;}
  .st29{clip-path:url(#SVGID_20_);}
  .st30{fill:url(#SVGID_21_);}
  .st31{fill:url(#SVGID_22_);}
  .st32{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st33{fill:none;stroke:#FFFFFF;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st34{fill:none;stroke:url(#SVGID_23_);stroke-miterlimit:10;}
  .st35{fill:none;stroke:url(#SVGID_24_);stroke-miterlimit:10;}
  .st36{fill:none;stroke:url(#SVGID_25_);stroke-miterlimit:10;}
  .st37{fill:none;stroke:url(#SVGID_26_);stroke-width:3.5847;stroke-miterlimit:10;}
  .st38{clip-path:url(#SVGID_28_);}
  .st39{fill:none;stroke:url(#SVGID_29_);stroke-miterlimit:10;}
  .st40{fill:none;stroke:#BABABA;stroke-width:0.8914;stroke-miterlimit:10;}
  .st41{fill:none;stroke:#2C4EDD;stroke-width:0.8914;stroke-miterlimit:10;}
  .st42{opacity:0.3;fill:none;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
}

#pic4 {
  .st0{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#FFFFFF;stroke-width:2.809;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#FFFFFF;}
  .st3{fill:none;stroke:#FFFFFF;stroke-width:2.8537;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:none;stroke:#FFFFFF;stroke-width:2.8923;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

#pic5 {
  .st0{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#FFFFFF;stroke-width:2.809;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#FFFFFF;}
  .st3{fill:none;stroke:#FFFFFF;stroke-width:2.8537;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:none;stroke:#FFFFFF;stroke-width:2.8923;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

#pic6 {
  .st0{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#FFFFFF;stroke-width:2.809;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#FFFFFF;}
  .st3{fill:none;stroke:#FFFFFF;stroke-width:2.8537;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:none;stroke:#FFFFFF;stroke-width:2.8923;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

#pic7 {
  .st0{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#FFFFFF;stroke-width:2.809;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#FFFFFF;}
  .st3{fill:none;stroke:#FFFFFF;stroke-width:2.8537;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:none;stroke:#FFFFFF;stroke-width:2.8923;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

#pic8 {
  .st0{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#FFFFFF;stroke-width:2.809;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#FFFFFF;}
  .st3{fill:none;stroke:#FFFFFF;stroke-width:2.8537;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:none;stroke:#FFFFFF;stroke-width:2.8923;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

#pic9 {
  .st0{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#FFFFFF;stroke-width:2.809;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#FFFFFF;}
  .st3{fill:none;stroke:#FFFFFF;stroke-width:2.8537;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:none;stroke:#FFFFFF;stroke-width:2.8923;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

#pic13 {
  .st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#FFE39C;stroke-width:5;stroke-miterlimit:10;}
}

#pic14 {
  .st0{fill:#FFFFFF;}
}

.main-menu-btn-svg {
  .st1{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
}

#tennis {
  .st3{fill:#FF3200;}
  .st21{fill:none;stroke:#FFFFFF;stroke-width:5.4088;stroke-linecap:round;stroke-miterlimit:10;}
}

#tennis-ball {
  .st23{fill:#2C4EDD;}
}

#play-tennis {
  .st0{fill:#FFFFFF;}
  .st1{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
  .st2{fill:none;stroke:#2C4EDD;stroke-width:2.3917;stroke-linecap:round;stroke-miterlimit:10;}
  .st3{fill:#FF3200;}
  .st4{fill:#FCEF00;}
  .st5{fill:none;stroke:#FF3200;stroke-width:4.7835;stroke-linecap:round;stroke-miterlimit:10;}
  .st6{fill:#F4D47A;}
  .st7{clip-path:url(#SVGID_2_);}
  .st8{fill:none;stroke:#2C4EDD;stroke-width:6.454;stroke-linecap:square;stroke-miterlimit:10;}
  .st9{clip-path:url(#SVGID_4_);}
  .st10{fill:#7C6635;}
  .st11{fill:url(#SVGID_5_);}
  .st12{fill:url(#SVGID_6_);}
  .st13{fill:url(#SVGID_7_);}
  .st14{fill:url(#SVGID_8_);}
  .st15{fill:url(#SVGID_9_);}
  .st16{clip-path:url(#SVGID_11_);}
  .st17{fill:none;stroke:#FF3200;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
  .st18{clip-path:url(#SVGID_13_);}
  .st19{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
  .st20{fill:url(#SVGID_14_);}
  .st21{fill:none;stroke:#FFFFFF;stroke-width:5.4088;stroke-linecap:round;stroke-miterlimit:10;}
  .st22{fill:#FF1D25;}
  .st23{fill:#2C4EDD;}
  .st24{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
  .st25{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:2.0057,2.0057;}
  .st26{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
  .st27{fill:none;stroke:#FFE39C;stroke-width:1.4992;stroke-linecap:round;stroke-miterlimit:10;}
  .st28{fill:none;stroke:#FFFFFF;stroke-width:1.4992;stroke-miterlimit:10;}
  .st29{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1.9453,1.9453;}
  .st30{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1.975,1.975;}
  .st31{opacity:0.5;fill:#F4D47A;}
  .st32{opacity:0.8;fill:url(#SVGID_15_);}
  .st33{fill:#FF3201;}
  .st34{fill:#7AC943;}
}

#beach {
  .st0{fill:#FFFFFF;}
  .st1{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
  .st2{fill:none;stroke:#2C4EDD;stroke-width:2.3917;stroke-linecap:round;stroke-miterlimit:10;}
  .st3{fill:#FF3200;}
  .st4{fill:#FCEF00;}
  .st5{fill:none;stroke:#FF3200;stroke-width:4.7835;stroke-linecap:round;stroke-miterlimit:10;}
  .st6{fill:#F4D47A;}
  .st7{clip-path:url(#SVGID_2_);}
  .st8{fill:none;stroke:#2C4EDD;stroke-width:6.454;stroke-linecap:square;stroke-miterlimit:10;}
  .st9{clip-path:url(#SVGID_4_);}
  .st10{fill:#7C6635;}
  .st11{fill:url(#SVGID_5_);}
  .st12{fill:url(#SVGID_6_);}
  .st13{fill:url(#SVGID_7_);}
  .st14{fill:url(#SVGID_8_);}
  .st15{fill:url(#SVGID_9_);}
  .st16{clip-path:url(#SVGID_11_);}
  .st17{fill:none;stroke:#FF3200;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
  .st18{clip-path:url(#SVGID_13_);}
  .st19{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
  .st20{fill:url(#SVGID_14_);}
  .st21{fill:none;stroke:#FFFFFF;stroke-width:5.4088;stroke-linecap:round;stroke-miterlimit:10;}
  .st22{fill:#FF1D25;}
  .st23{fill:#2C4EDD;}
  .st24{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
  .st25{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:2.0057,2.0057;}
  .st26{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
  .st27{fill:none;stroke:#FFE39C;stroke-width:1.4992;stroke-linecap:round;stroke-miterlimit:10;}
  .st28{fill:none;stroke:#FFFFFF;stroke-width:1.4992;stroke-miterlimit:10;}
  .st29{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1.9453,1.9453;}
  .st30{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1.975,1.975;}
  .st31{opacity:0.5;fill:#F4D47A;}
  .st32{opacity:0.8;fill:url(#SVGID_15_);}
  .st33{fill:#FF3201;}
  .st34{fill:#7AC943;}
}

#boat {
  .st0{fill:#FFFFFF;}
  .st19{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
  .st22{fill:#FF1D25;}
  .st23{fill:#2C4EDD;}
}

#knight {
  .st0{fill:#FFFFFF;}
  .st1{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
  .st2{fill:none;stroke:#2C4EDD;stroke-width:2.3917;stroke-linecap:round;stroke-miterlimit:10;}
  .st3{fill:#FF3200;}
  .st4{fill:#FCEF00;}
  .st5{fill:none;stroke:#FF3200;stroke-width:4.7835;stroke-linecap:round;stroke-miterlimit:10;}
  .st6{fill:#F4D47A;}
  .st7{clip-path:url(#SVGID_2_);}
  .st8{fill:none;stroke:#2C4EDD;stroke-width:6.454;stroke-linecap:square;stroke-miterlimit:10;}
  .st9{clip-path:url(#SVGID_4_);}
  .st10{fill:#7C6635;}
  .st11{fill:url(#SVGID_5_);}
  .st12{fill:url(#SVGID_6_);}
  .st13{fill:url(#SVGID_7_);}
  .st14{fill:url(#SVGID_8_);}
  .st15{fill:url(#SVGID_9_);}
  .st16{clip-path:url(#SVGID_11_);}
  .st17{fill:none;stroke:#FF3200;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
  .st18{clip-path:url(#SVGID_13_);}
  .st19{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
  .st20{fill:url(#SVGID_14_);}
  .st21{fill:none;stroke:#FFFFFF;stroke-width:5.4088;stroke-linecap:round;stroke-miterlimit:10;}
  .st22{fill:#FF1D25;}
  .st23{fill:#2C4EDD;}
  .st24{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
  .st25{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:2.0057,2.0057;}
  .st26{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
  .st27{fill:none;stroke:#FFE39C;stroke-width:1.4992;stroke-linecap:round;stroke-miterlimit:10;}
  .st28{fill:none;stroke:#FFFFFF;stroke-width:1.4992;stroke-miterlimit:10;}
  .st29{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1.9453,1.9453;}
  .st30{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1.975,1.975;}
  .st31{opacity:0.5;fill:#F4D47A;}
  .st32{opacity:0.8;fill:url(#SVGID_15_);}
  .st33{fill:#FF3201;}
  .st34{fill:#7AC943;}
}

#cloud-power-img {
  .st0{fill:#FFFFFF;}
  .st3{fill:#FF3200;}
  .st24{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
  .st25{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:2.0057,2.0057;}
  .st26{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
  .st27{font-family:'Ubuntu';}
  .st28{font-size:11.5261px;}
  .st29{fill:none;stroke:#FFE39C;stroke-width:1.4992;stroke-linecap:round;stroke-miterlimit:10;}
  .st30{fill:none;stroke:#FFFFFF;stroke-width:1.4992;stroke-miterlimit:10;}
  .st31{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1.9453,1.9453;}
  .st32{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1.975,1.975;}
  .st33{opacity:0.5;fill:#F4D47A;}
  .st34{opacity:0.8;fill:url(#SVGID_15_);}
  .st35{fill:#FF3201;}
  .st36{fill:#7AC943;}
}

#rest-api {
  .st0{fill:url(#SVGID_1_);}
  .st1{fill:#FFFFFF;}
  .st2{fill:#FF3200;}
}