id: 1
templatename: boodet_landing
properties: null

-----

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>[[*pagetitle]] - [[++site_name]]</title>
    <base href="[[!++site_url]]" />
    <meta charset="[[++modx_charset]]" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/theme.css">

    <script type="text/javascript" src="js/jquery-3.2.1.min.js" defer></script>
    <script type="text/javascript" src="js/common_scripts.js" defer></script>
</head>
<body>
<header id="header">
    <div class="header-container">
        <div class="main-menu-btn">
            [[$boodet_svg_hamburger]]
        </div>
        <div class="logo">
            <a href="[[~1]]">
                [[$boodet_svg_logo_main]]
            </a>
        </div>
        <a href="http://185.193.143.156/authorize" class="entry">Вход</a>
    </div>

    <div class="main-menu-container">
        <div class="scrolled-container">
            <div class="logo-row">
                <div class="close-btn">
                    [[$boodet_svg_button_close]]
                </div>
                <div class="logo">
                    <a href="[[~1]]">
                        [[$boodet_svg_logo_second]]
                    </a>
                </div>
            </div>
            <ul class="main-menu">
                <li>
                    <div class="sub-list-title">Продукты</div>
                    <div class="sub-list">
                        <a href="[[~6]]">[[pdoField?&id=`6`]]</a>
                        <a href="[[~9]]">[[pdoField?&id=`9`&field=`longtitle`]]</a>
                    </div>
                </li>
                <li><a href="[[~7]]">[[pdoField?&id=`7`]]</a></li>
                <li><a href="[[~5]]">[[pdoField?&id=`5`]]</a></li>
                <li><a href="http://boodet.online/">Блог</a></li>
                <li><a href="[[~3]]">[[pdoField?&id=`3`]]</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="content">
    [[*content]]
</div>
<footer id="footer" class="white-color-text">
    <div class="footer-main-container">
        <div class="width-33">
            <div class="column-title font-lg medium">
                Продукты
            </div>
            <a href="[[~6]]">[[pdoField?&id=`6`&field=`longtitle`]]</a><br>
            <a href="[[~9]]">[[pdoField?&id=`9`]]</a><br>
            <a href="[[~7]]">[[pdoField?&id=`7`]]</a><br>
            <a href="http://digitalenergy.online">Технологии</a><br>
            <a href="[[~8]]">[[pdoField?&id=`8`]]</a>
        </div>
        <div class="width-33">
            <div class="column-title font-lg medium">
                Компания
            </div>
            <a href="[[~3]]">[[pdoField?&id=`3`]]</a><br>
            <a href="[[~4]]">[[pdoField?&id=`4`]]</a><br>
            <a href="[[~8]]">Правила пользования сайтом</a><br>
            <a href="[[~8]]">Политика конфиденциальности</a>
        </div>
        <div class="width-33">
            <div class="column-title font-lg medium">
                Сообщество
            </div>
            <a href="http://boodet.online/">Блог о&nbsp;стартапах</a><br>

            <div class="socials-block">
                <div>Подпишись на обновления</div>
                <div class="social-links">
                    <a href="#" class="social-link">
                        <img src="images/svg/soc-01.svg">
                    </a>
                    <a href="#" class="social-link">
                        <img src="images/svg/soc-02.svg">
                    </a>
                    <a href="#" class="social-link">
                        <img src="images/svg/soc-03.svg">
                    </a>
                    <a href="#" class="social-link">
                        <img src="images/svg/soc-05.svg">
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="footer-bottom-container">
        <div class="width-33">
            <span class="line-height-1_3 mb-06">© Boodet.online, 2017–2018</span>
        </div>
        <div class="width-33">
            <a href="[[~8]]">Юридическая информация</a>
        </div>
        [[-<div class="width-33">
            <a href="#">Карта сайта</a>
        </div>]]
    </div>
</footer>
</body>
</html>
